#table-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 50px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 5px;
    justify-content: center;
}

#table-grid:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: url("./logo.png") no-repeat center;
    background-size: contain;
    z-index: -1;
}


.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
}

#roll-btn {
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 20px;
    padding: 16px;
    margin-top: 16px;
}

#roll-btn:hover {
    opacity: 0.9;
}

#roll-btn:active {
    opacity: 0.8;
}

#roll-btn:disabled {
    opacity: 0.5;
}

#user-icon {
    position: absolute;
    transition: 1.5s all;
}

#question {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
}

.option-submit-btn {
    border: none;
    padding: 16px;
    margin-top: 16px;
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    width: 250px;
    font-size: 20px;
}

.option-submit-btn:hover {
    opacity: 0.9;
}

.option-submit-btn:active {
    opacity: 0.8;
}

#message {
    width: 300px;
    text-align: center;
    z-index: 1;
    display: none;
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 8px;
    border-radius: 5px;
}
