:root {
    --primary-color: #F5EFE7;
    --secondary-color: #D8C4B6;
    --tertiary-color: #4F709C;
    --quartary-color: #213555;
    --warning-color: #CD1818;
    --success-color: #116D6E;
}

html {
    min-height: 100vh;
    background-color: var(--primary-color);
}

#table-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 50px;
    padding: 16px;
    border-radius: 5px;
    justify-content: center;
    background-color: var(--primary-color);
    margin-bottom: 200px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    z-index: 1;
    color: var(--primary-color);
    font-size: 35px;
}

#roll-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 32px;
    background-color: var(--success-color);
    border: none;
    color: white;
    width: 100%;
    font-size: 20px;
    margin-top: 16px;
}

#roll-btn:hover {
    opacity: 0.9;
}

#roll-btn:active {
    opacity: 0.8;
}

#roll-btn:disabled {
    opacity: 0.5;
}

#user-icon {
    position: absolute;
    transition: 1.5s all;
    transform: translate(-50%, -100%);
    width: 90px;
    z-index: 2;
    fill: var(--quartary-color);
}

#question {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
    z-index: 9;
    overflow-y: auto;
}

.option-submit-btn {
    border: none;
    padding: 16px;
    margin-top: 16px;
    background-color: var(--success-color);
    border-radius: 5px;
    color: white;
    width: 250px;
    font-size: 20px;
}

.option-submit-btn:hover {
    opacity: 0.9;
}

.option-submit-btn:active {
    opacity: 0.8;
}

#message {
    width: 300px;
    text-align: center;
    z-index: 1;
    display: none;
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 8px;
    border-radius: 5px;
}

.option-wrapper {
    margin-bottom: 8px;
}

@media (max-width: 576px) {
    .option-wrapper {
        margin-bottom: 32px;
    }

    .option-input {
        width: 30px;
        height: 30px;
        margin-right: 16px;
    }

    .option-label {
        font-size: 50px;
    }

    .question-text {
        font-size: 60px;
    }
}
